

button.btn.btn-light {
    position: absoluw;
    background: transparent;
    border: none;
    height: 38px;
    right: 23px;
}

a.btn.btn-default.btn-scroll {
    border: 2px solid #fff;
    color: #fff;
    border-radius: 100%;
}



.big-img img {
    height: 325px;
    width:100%;
    object-fit: cover;
}

.container.slider-top-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-login {
    width: 138px;
    background: #1fc6d8 !important;
    border: 1px solid #1fc6d8 !important;
}
.btn-login:hover{
       background: #3683a1 !important;
    border: 1px solid #1fc6d8 !important;
}
.mfa-white {
    color: #fff !important;
}

h3.my-heading {
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin:0;
}

p.myp-slider.text-center {
    color: #fff;
}

.btn-register {
    width: 138px;
    background: #1fc6d8 !important;
    border: 1px solid #1fc6d8 !important;
}


.btn-register:hover{
       background: #3683a1 !important;
    border: 1px solid #1fc6d8 !important;
}

.btn-join {
    background: #1fc6d8 !important;
    border: 1px solid #1fc6d8 !important;
}

section#about {
    width: 100%;
    padding-top: 2.1rem;
    padding-bottom: 2.1rem;
}

.btn-circle {
    border-radius: 50%;
}

.my-social-btn {
    background: lightgrey;
}

a.btn.btn-circle.my-social-btn.fb:hover {
    background: #205b9f;
}

a.btn.btn-circle.my-social-btn.twitter:hover {
    background: #00ace3;
}

a.btn.btn-circle.my-social-btn.google:hover {
    background: #ff3921;
}

a.btn.btn-circle.my-social-btn {
    color: #fff;
    height: 40px;
    width: 40px;
}

.inner-section h3 {
    text-transform: uppercase;
    font-weight:bold;
}

.inner-section h3:after {
    content: '';
    position: absolute;
    border-bottom: 4px solid #008ba3;
    width: 100%;
    max-width: 10%;
    top: 37px;
    left: 17px;
}
span.bg-main {
    color: #008ba3;
}

hr.my-border {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid #008ba3;
    width: 117px;
}

.linear-grid img {
    width: 100%;
    height: 124px;
    object-fit: cover;
}




h3.title-heading.text-center {
    color: #fff;
    font-weight: bold;
}

p.myp.text-center {
    color: #fff;
    font-size: 14px;
    margin-bottom: 3rem;
}

.big-img2 img {
    height: 472px;
    width: 100%;
    object-fit: cover;
}

.my-grid img {
    height: 228px;
    width: 100%;
    object-fit: cover;
}






.text-block {
    min-height: 228px;
    height: auto;
    background: #fff;
    padding: 15px;
}

h5.events-heading {
    font-weight: bold;
    font-size: 17px;
}

p.myp-font {
    font-size: 15px;
}

section#group {
    background: #fff;
    height: 100%;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none !important;
    border-radius: .28571429rem;


}


.card:hover {
    color: #222 !important;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 2px #FF7F50;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none !important;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    color: #FF6347;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: black;
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #FF6347;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}



a.link-color {
    color: #FF6347;
    font-weight: bold;
}


.floating-arrow {
    -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
    -o-animation: floating-arrow 1.6s infinite ease-in-out 0s;
    animation: floating-arrow 1.6s infinite ease-in-out 0s;
}

@keyframes floating-arrow {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    65% {
        -webkit-transform: translateY(11px);
        transform: translateY(11px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

footer.footer{padding-top:4rem;padding-bottom:4rem}

li.list-inline-item a {
    color: #fff;
    text-decoration: none;
}


/*-------------------responsive-----------------*/

@media screen and (max-width: 520px) {
    ::placeholder {
        font-size: 10px;
    }
    .scroll-down {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 45px;
    }

    .text-block {
        padding: 15px;
    }
    .linear-grid img {
        width: 100%;
        height: 181px;
    }
    .my-grid img {
        width: 100%;
    }


}
@media screen and (max-width: 767px) {
    .btn-login{
       width:100%;
    }
    .btn-register {
         width:100%;
    }
}

@media only screen and (min-width:2560px){}
@media only screen and (min-width:1600px) and (max-width:1920px){
	.navbar-toggler {display: none !important;}
}
@media only screen and (min-width:1440px){
	.navbar-toggler {display: none !important;}
}
@media only screen and (max-width: 1280px){
	.navbar-toggler {display: none !important;}
}
@media only screen and (max-width: 1024px){
	.navbar-toggler {display: none !important;}
	.mob-ul{list-style-type: none; padding-left: 0;}
	h5.events-heading{font-size:15px;}
	p.myp-font{font-size:13px;}
}
@media only screen and (min-width: 960px) and (max-width: 1023px) {
	.navbar-toggler {display: none !important;}
	.mob-ul{list-style-type: none; padding-left: 0;}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
.navbar-toggler {display: none !important;}
	#main {display: block;}
	.header-wrap .navbar .nav-link {color: #fff;}
	.mob-ul{list-style-type: none; padding-left: 0;}
	.header-wrap .sub-menu {width: 250px;}
}

@media only screen and (max-width:736px) and (orientation:landscape){
	.navbar-toggler {display: none !important;}
	#main {display: block;}
	.header-wrap .navbar .nav-link {color: #fff;}
	.mob-ul{list-style-type: none; padding-left: 0;}
	.header-wrap .sub-menu {width: 250px;}
}
@media only screen and (max-width:667px) and (orientation:landscape){
	.navbar-toggler {display: none !important;}
	#main {display: block;}
	.header-wrap .navbar .nav-link {color: #fff;}
	.mob-ul{list-style-type: none; padding-left: 0;}
	.header-wrap .sub-menu {width: 250px;}
}
@media only screen and (max-width:568px) and (orientation:landscape){
	.navbar-toggler {display: none !important;}
	#main {display: block;}
	.header-wrap .navbar .nav-link {color: #fff;}
	.mob-ul{list-style-type: none; padding-left: 0;}
	.header-wrap .sub-menu {width: 250px;}
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
    h5.events-heading {
    font-size: 20px;
}
p.myp-font {
    font-size: 15px;
}
	.navbar-toggler {display: none !important;}
	#main {display: block;}
	.header-wrap .navbar .nav-link {color: #fff;}
	.mob-ul{list-style-type: none; padding-left: 0;}
	.header-wrap .sub-menu {width: 250px;}
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
    .inner-section h3 {
        font-size: 18px;
    }
    h5.events-heading{font-size:15px;}
    .inner-section p {
    font-size: 13px;
    text-align: justify;
    }
    section#marketplace img {
     object-fit: cover;
    }
	.navbar-toggler {display: none !important;}
	#main {display: block;}
	.header-wrap .navbar .nav-link {color: #fff;}
	.mob-ul{list-style-type: none; padding-left: 0;}
	.header-wrap .sub-menu {width: 250px;}
}
@media only screen and (min-width: 321px) and (max-width: 479px) {
    .inner-section h3 {
        font-size: 18px;
    }
    h5.events-heading{font-size:15px;}
    .inner-section p {
    font-size: 13px;
    text-align: justify;
    }
    section#marketplace img {
     object-fit: cover;
    }
	.navbar-toggler {display: none !important;}
	#main {display: block;}
	.header-wrap .navbar .nav-link {color: #fff;}
	.mob-ul{list-style-type: none; padding-left: 0;}
	.header-wrap .sub-menu {width: 250px;}
}
@media only screen and (max-width:568px) and (orientation:landscape){
	.navbar-toggler {display: none !important;}
	#main {display: block;}
	.header-wrap .navbar .nav-link {color: #fff;}
	.mob-ul{list-style-type: none; padding-left: 0;}
	.header-wrap .sub-menu {width: 250px;}
}
@media only screen and (max-width: 320px) {
     .inner-section h3 {
        font-size: 18px;
    }
    h5.events-heading{font-size:15px;}
    .inner-section p {
    font-size: 13px;
    text-align: justify;
    }
    section#marketplace img {
     object-fit: cover;
    }
	.navbar-toggler {display: none !important;}
	#main {display: block;}
	.header-wrap .navbar .nav-link {color: #fff;}
	.mob-ul{list-style-type: none; padding-left: 0;}
	.header-wrap .sub-menu {width: 250px;}
}


@import url('https://fonts.googleapis.com/css?family=Roboto');
h4{
    color:#fff;
}
