@import url(http://fonts.googleapis.com/css?family=Raleway);
html,
body {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3px;
  height: 100%;
  background-color:black;
  
}

.images{
	height:100%;
	width:40%;
	text-align:center;
	
}
.row{
	margin-top:10px;
}

a:hover,
a:active,
a:focus {
    color: black;
    text-decoration: none;
	outline: none;
}

::selection {
    background-color: black;
    color: #ffffff;
}

::-moz-selection {
    background-color: black;
    color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Kaushan Script', sans-serif;
}
h1{
	color: #FF6347;
}


.linear-grid{
	color: #5cdb95;
}


p {
	line-height: 28px;
	font-size:32px;
	color:#5cdb95;
	margin:2px;
}

b {
	font-weight: 600;
}

ul,
li {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

.no-padding {
    padding: 0
}

.section-space-padding {
    padding: 150px 0px;
}

.section-title {
    background-color: #ffffff;
	padding: 50px;
}

.section-title h2 {
	margin-bottom: 30px;
	border-left: 4px solid #4c9cef;
    margin-left: -15px;
    padding-left: 10px;
}

.section-title-style {
    color: black;
    border-bottom: 5px solid #4c9cef;
    border-bottom-right-radius: 100%;
}

.img-responsive{
	float: right;
    margin-top: -78px;
    font-size: 50px;
}



.btn {
	color: #ffffff;
	padding: 0px;
	font-size: 25px;
	width: 50px;
    height: 50px;
    background: black;
    line-height: 50px;
    border-radius: 100%;
}

.btn.focus, .btn:focus, .btn:hover {
	color: #ffffff;
}

.btn.active, .btn:active {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.button {
	border: none;
	font-family: inherit;
	font-size: 15px;
	color: #ffffff;
	background: none;
	cursor: pointer;
	border-radius: 50px;
	padding: 10px 25px;
	letter-spacing: 1.5px;
	display: inline-block;
	margin: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;

}

.button-style {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #4c9cef;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.button-style:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  border-radius: 5px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.button-style:hover, .button-style:focus, .button-style:active {
  color: #ffffff;
}

.button-style:hover:before, .button-style:focus:before, .button-style:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}





/* Social Icons */

.social-icon {
  list-style: none;
  padding-left: 0;
  margin: 0;
  text-align: center;
}

.social-icon:before,
.social-icon:after {
  content: " ";
  display: table;
}

.social-icon:after {
  clear: both;
}

.social-icon li {
  display: inline-block;
  margin: 2px 18px;
}

.social-icon li a {
  display: block;
  color: #ffffff;
  text-align: center;
  border: 0 none;
  font-size: 50px;
  transition: all 0.3s ease-in-out;
}


.tumblr {
   color: #35465c;
}

.foursquare {
   color: #f94877;
}

.github {
   color: #333333;
}

.skype {
   color: #00aff0;
}



/* Footer */

.footer-section {
margin-top: 20px;
}

.footer-section .column-one {
	padding: 80px 0px;
	background-color:  black;
}

.footer-section .column-two {
	padding: 90px 0px;
}

.footer-section p {
    font-size: 14px;
}



/* Scroll To Top */

.scroll-to-top {
    display: none;
    font-size: 40px;
    text-align: center;
    color: blue;
    position: fixed;
    right: 8px;
    bottom: 30px;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

.scroll-to-top:hover,
.scroll-to-top:focus {
    color: blue;
}




@media only screen and (max-width: 767px) {
	.detail-box {
        margin-top: 0px;
    }
}


@media only screen and (max-width: 555px) {
	 .section-title h2 {
		 font-size: 15px;
	 }

	 .icon-style {
		 font-size: 25px;
		 margin-top: -57px;
	 }

	 .social-icon li a {
         font-size: 22px;
     }

     .skills-form .submit-btn {
         position: inherit;
         width: 100px;
         font-size: 12px;
         padding: 7px;
         margin-top: 7px;
     }
}


/* Margin */

.margin-0 {
	margin: 0px !important;
}

/* Margin Top */

.margin-top-0 {
	margin-top: 0px !important;
}

.margin-top-10 {
	margin-top: 10px !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}

.margin-top-30 {
	margin-top: 30px !important;
}

.margin-top-40 {
	margin-top: 40px !important;
}

.margin-top-50 {
	margin-top: 50px !important;
}

.margin-top-60 {
	margin-top: 60px !important;
}

.margin-top-70 {
	margin-top: 70px !important;
}

.margin-top-80 {
	margin-top: 80px !important;
}

.margin-top-90 {
	margin-top: 90px !important;
}

.margin-top-100 {
	margin-top: 100px !important;
}

.margin-top-120 {
	margin-top: 120px !important;
}

.margin-top-150 {
	margin-top: 150px !important;
}

.margin-top-200 {
	margin-top: 200px !important;
}


/* Margin Bottom */

.margin-bottom-0 {
	margin-bottom: 0px !important;
}

.margin-bottom-10 {
	margin-bottom: 10px !important;
}

.margin-bottom-20 {
	margin-bottom: 20px !important;
}

.margin-bottom-30 {
	margin-bottom: 30px !important;
}

.margin-bottom-40 {
	margin-bottom: 40px !important;
}

.margin-bottom-50 {
	margin-bottom: 50px !important;
}

.margin-bottom-60 {
	margin-bottom: 60px !important;
}

.margin-bottom-70 {
	margin-bottom: 70px !important;
}

.margin-bottom-80 {
	margin-bottom: 80px !important;
}

.margin-bottom-90 {
	margin-bottom: 90px !important;
}

.margin-bottom-100 {
	margin-bottom: 100px !important;
}

.margin-bottom-120 {
	margin-bottom: 120px !important;
}

.margin-bottom-150 {
	margin-bottom: 150px !important;
}

.margin-bottom-200 {
	margin-bottom: 200px !important;
}



/* Padding */

.padding-0 {
	padding: 0px !important;
}


/* Padding Top */

.padding-top-0 {
	padding-top: 0px !important;
}

.padding-top-10 {
	padding-top: 10px !important;
}

.padding-top-20 {
	padding-top: 20px !important;
}

.padding-top-30 {
	padding-top: 30px !important;
}

.padding-top-40 {
	padding-top: 40px !important;
}

.padding-top-50 {
	padding-top: 50px !important;
}

.padding-top-60 {
	padding-top: 60px !important;
}

.padding-top-70 {
	padding-top: 70px !important;
}

.padding-top-80 {
	padding-top: 80px !important;
}

.padding-top-90 {
	padding-top: 90px !important;
}

.padding-top-100 {
	padding-top: 100px !important;
}

.padding-top-120 {
	padding-top: 120px !important;
}

.padding-top-150 {
	padding-top: 150px !important;
}

.padding-top-200 {
	padding-top: 200px !important;
}


/* Padding Bottom */

.padding-bottom-0 {
	padding-bottom: 0px !important;
}

.padding-bottom-10 {
	padding-bottom: 10px !important;
}

.padding-bottom-20 {
	padding-bottom: 20px !important;
}

.padding-bottom-30 {
	padding-bottom: 30px !important;
}

.padding-bottom-40 {
	padding-bottom: 40px !important;
}

.padding-bottom-50 {
	padding-bottom: 50px !important;
}

.padding-bottom-60 {
	padding-bottom: 60px !important;
}

.padding-bottom-70 {
	padding-bottom: 70px !important;
}

.padding-bottom-80 {
	padding-bottom: 80px !important;
}

.padding-bottom-90 {
	padding-bottom: 90px !important;
}

.padding-bottom-100 {
	padding-bottom: 100px !important;
}

.padding-bottom-120 {
	padding-bottom: 120px !important;
}

.padding-bottom-150 {
	padding-bottom: 150px !important;
}

.padding-bottom-200 {
	padding-bottom: 200px !important;
}




.breadcrumb  {
  padding:30px;
  text-align: center;
  background-color: black;

}
.breadcrumb h1 {
  color: black;
  text-transform:uppercase;
  text-align:center;
  margin-top: 0px;
  font-size: 30px;
  text-align: center;
  font-weight: 100px;
}

h4 {
 color: black;
 text-transform:uppercase;
 text-align:center;

}

div{
border: 2px;
border-color: blue;
}



.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -10s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}


    .letter {
        position: relative;
        top: -webkit-calc(50% - 60px);
        top: calc(50% - 60px);
        text-shadow: 0px 0px 3px white;
    }
    .letter:nth-child(1) {
        -webkit-animation: fade 10s infinite 200ms;
        animation: fade 10s infinite 200ms;
    }
    .letter:nth-child(2) {
        -webkit-animation: fade 10s infinite 400ms;
        animation: fade 10s infinite 400ms;
    }
    .letter:nth-child(3) {
        -webkit-animation: fade 10s infinite 600ms;
        animation: fade 10s infinite 600ms;
    }
    .letter:nth-child(4) {
        -webkit-animation: fade 10s infinite 800ms;
        animation: fade 10s infinite 800ms;
    }
    .letter:nth-child(5) {
        -webkit-animation: fade 10s infinite 1000ms;
        animation: fade 10s infinite 1000ms;
    }
    .letter:nth-child(6) {
        -webkit-animation: fade 10s infinite 1200ms;
        animation: fade 10s infinite 1200ms;
    }
    .letter:nth-child(7) {
        -webkit-animation: fade 10s infinite 1400ms;
        animation: fade 10s infinite 1400ms;
    }

    .letter:nth-child(8) {
        -webkit-animation: fade 10s infinite 1400ms;
        animation: fade 10s infinite 1400ms;
    }

    .letter:nth-child(9) {
        -webkit-animation: fade 10s infinite 1400ms;
        animation: fade 10s infinite 1400ms;
    }

    .letter:nth-child(10) {
        -webkit-animation: fade 10s infinite 1400ms;
        animation: fade 10s infinite 1400ms;
    }

    .letter:nth-child(11) {
        -webkit-animation: fade 10s infinite 1400ms;
        animation: fade 10s infinite 1400ms;
    }

    .letter:nth-child(12) {
        -webkit-animation: fade 10s infinite 1400ms;
        animation: fade 10s infinite 1400ms;
    }

    .letter:nth-child(13) {
        -webkit-animation: fade 10s infinite 1400ms;
        animation: fade 10s infinite 1400ms;
    }

    .letter:nth-child(14) {
        -webkit-animation: fade 10s infinite 1400ms;
        animation: fade 10s infinite 1400ms;
    }

    .letter:nth-child(15) {
        -webkit-animation: fade 10s infinite 1400ms;
        animation: fade 10s infinite 1400ms;
    }

    .letter:nth-child(16) {
        -webkit-animation: fade 10s infinite 1400ms;
        animation: fade 10s infinite 1400ms;
    }

    .letter:nth-child(17) {
        -webkit-animation: fade 10s infinite 1400ms;
        animation: fade 10s infinite 1400ms;
    }

    @-webkit-keyframes fade {
        50% {
            opacity: 0.02;
        }
    }

    @keyframes fade {
        50% {
            opacity: 0.02;
        }
    }
